body {
    background-color: #7f7f7f;
    font-family: "Ubuntu", "Roboto", "Open Sans";
}

#box {
    background-color: #252526;
    color: aliceblue;
    width: 50%;
    padding: 30px;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
}

#button {
    display: block;
    margin: 20px auto;
    padding: 20px;
    background-color: #252526;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.5s;
}

#button:hover {
    background-color: lightslategray;
}